/* basic page css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* navbar stuff */

nav {
    font-size: 40px;
    justify-content: space-between;
    color: rgb(224, 226, 224);
    display: flex;
    transition: 0.85s;
    z-index: 100;
    width: 100%;
    padding: 30px 20px;
    background-image: url("./pictures/cool-gothic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

span {
    font-size: 45px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: rgb(224, 226, 224);
    font-size: 35px;
    font-weight: lighter;
}

li {
    display: inline;
    position: relative;
    padding-right: 25px;
}


/* navbar scrolling css */

nav.scroll {
    padding: 20px 10px;
    background-color: black;
    position: fixed;
}

nav.scroll span {
    font-size: 35px;
}

nav.scroll li a {
    font-size: 28px;
}


/* banner edits */

.banner {
    width: 100%;
    height: 470px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    display: block;
}


/* Megan THEE Stallion voice BODY-ODYODYODY CSS */

.body {
    background-color: silver;
    overflow-x: hidden;
}


/* banner stuff */

.banner {
    padding-top: 100px;
    width: 100%;
    background-image: url("./pictures/104193.jpg");
    background-image: cover;
    background-color: black;
}


/* picture stuff */

.img {
    display: block;
    border: 7px solid black;
    border-radius: 0px;
    padding: 0px;
    width: 300px;
    margin: auto;
    ;
}


/* the zoom also affects the project images */

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.5);
}


/* section label "about me", "projects" and "contact me" */

h3 {
    margin-top: 12%;
    background-color: silver;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}


/* about me section */

.grid-container-1 {
    font-family: 'Times New Roman', Times, serif;
    border: solid 1px rgb(224, 226, 224);
    align-items: center;
    text-align: center;
}

.about-me {
    font-size: xx-large;
    margin: 10.5%;
}

.text1 {
    font-size: x-large;
    background-color: silver;
}


/* projects section */


/*
.grid-container-2 {
    display: block;
    border: solid 1px rgb(224, 226, 224);
}
*/

.work {
    font-size: xx-large;
    margin: 10.5%;
    display: inline-block;
}

.iframe-div {
    font-size: x-large;
    margin-left: 100%;
    background-color: silver;
}


/* contact me section */


/*
.grid-container-3 {
    border: solid 1px rgb(224, 226, 224);
    display: inherit;
}*/

.contact-me {
    margin: auto;
}

.form-info {
    margin: auto;
}

@media (min-width: 600px) {
    .body {
        font-size: 1.25rem;
    }
}

@media (min-wdth: 800x) {
    .body {
        font-size: 1.5rem;
        line-height: 1.5;
    }
}